<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <% for (var index = 1; index < 12; index++) { %>
            <div class="col-md-3">
                <div class="card mb-3">
                    <h3 class="card-header">Card header</h3>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                    </div>
                    <img style="height: 200px; width: 100%; display: block;" src="/public/images/<%= formatNumber(index) %>.png" alt="Card image">
                    
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                    </div>
                    <div class="card-body">
                        <a href="/pokemons/<%= index %>" class="card-link">看詳細資訊</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <% } %>
            <div class="col-md-3">2</div>
            <div class="col-md-3">3</div>
            <div class="col-md-3">4</div>
        </div>
    </div>
</body>

</html>